* {
  padding: 10px;
  margin: 0;
  font-family: "Saira Stencil One", cursive;
}
button {
  background-color: transparent;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #0dcaf0;
}
.scale:hover {
  -webkit-transform: scale(1.5, 2);
  transform: scale(1.5, 2);
}
img {
  -webkit-transition-property: -webkit-transform;
  transition-property: all;

  -webkit-transition-delay: 500ms;
  transition-delay: 250ms;

  -webkit-transition-duration: 1s;
  transition-duration: 5s;

  /*linear, ease,  ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n), steps*/
  /*-webkit-transition-timing-function: ease-in-out;*/
  transition-timing-function: liner;

  /*SHORTHAND*/
  /*transition: property duration timing-function delay*/
  /*above example would be:*/
  /*transition: all 1s linear 500ms;*/
  /* Properties you can transition:
      https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties
       */
}
